*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #f8c8d058;
}

.navbar-flex{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 1%;
   
}

.burgerking-img{
    text-align: center;
}

.signIn-button{
    border-radius: 25px;
    width: 105%;
    height: 80%;
    background-color: #ff0000;
    color: #ffffff;
}

.rate-list{
    background-color: #470d00;
    color: #ffffff;
    border-radius:20px ;
    width: 150%;
    height: 35px;
}

@media (max-width: 700px){
    .navbar-flex{
        display: flex;
        flex-direction: column;

    }
}

.locationIcon{
    color: #470d00;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 3%;
}

.card-text{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color: #470d00;
    text-align: center;

}

.card{
    margin-top: 5%;
}